@model MVSystemApi.Model.Facturas

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <title>Factura</title>

    <style>
        .p0 p {
            padding: 0%;
            margin: 0%;
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <img src="/assets/logo.png" />
    </div>

    <div class="container text-center p0">
        <div class="row">
            <p>Reparación, Desbloqueo, Accesorios, y Ventas de Celulares por mayor y al Detalle.</p>
            <p>
                Isabel Aguiar #402,frente a la estacion de combustible Texaco Santo Domingo, República Dominicana
                Tel.:809-908-6952 Cel.: 809-883-8858
            </p>
            <p> <b> RNC: 132307382 </b> </p>
        </div>
    </div>

    <div class="container border border-dark">
        <div class="row">
            <div class="col-6 border border-dark">
                <b>Cliente</b><br>
                <b>Código: </b> ---<br>
                <b>Nombre: </b> ---<br>
                <b>Teléfono: </b> ---<br>
                <b>Vendedor: </b> ---<br>
            </div>

            <div class="col-6 border border-dark">
                <b> Factura No.: P13975</b><br>
                <b>Tipo de factura: </b> Al por mayor<br>
                <b>Tipo de pago: </b> Efectivo<br>
                <b>Fecha: @Model.FechaRegistro</b>
                <b>NCF: </b>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <b>
                DETALLES DE FACTURA
            </b>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">COD.</th>
                        <th scope="col">DESCRIPCIÓN</th>
                        <th scope="col">CANT.</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">SUBTOTAL</th>
                        <th scope="col">DESC</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        foreach (var item in Model.DetalleFacturaList)
                        {
                            <tr>
                                <td>---</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Cantidad.ToString("N0")</td>
                                <td>@item.Precio.ToString("N2")</td>
                                <td>@item.SubTotal.ToString("N2")</td>
                                <td>@item.Descuento.ToString("N2")</td>
                                <td>@item.Total.ToString("N2")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="d-flex flex-row-reverse">
            <div><b>Subtotal: @Model.DetalleFacturaList.Sum(x=>x.SubTotal).ToString("N2")</b></div>
        </div>

        <div class="d-flex flex-row-reverse">
            <div><b>Descuento: @Model.DetalleFacturaList.Sum(x=>x.Descuento).ToString("N2")</b></div>
        </div>

        <div class="d-flex flex-row-reverse">
            <div><b>ITBIS: @Model.DetalleFacturaList.Sum(x=>x.Itbis).ToString("N2")</b></div>
        </div>

        <div class="d-flex flex-row-reverse">
            <div><b>Total: @Model.DetalleFacturaList.Sum(x=>x.Total).ToString("N2")</b></div>
        </div>

        <div class="d-flex flex-row-reverse">
            <div><b>Abonado: @Model.Abono.ToString("N2")</b></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <p>Nota: Jose Luis Jimenez</p>
            <p>
                <b>NOTA: </b>
                TODOS LOS EQUIPOS TIENEN 30 DIAS DE GARANTIA , NO TIENEN GARANTIA EN PANTALLA Y
                TOUCH NO SE REEMBOLSA DINERO, SE HACE CAMBIOS POR EL MISMO MODELO PAGADO SIEMPRE Y
                CUANDO EL EQUIPO SE ENCUENTRE EN EL TIEMPO DE LA GARANTIA Y CONDICIONES IGUAL AL
                MOMENTO DE LA COMPRA. LOS TELEFONOS TENDRAN SELLOS DE GARANTIAS, SI SON VIOLADOS LA
                GARANTIA TERMINARA.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <hr>
                <b>Entregado por</b>
            </div>

            <div class="col-6 text-center">
                <hr>
                <b>Recibido por</b>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="d-flex flex-row-reverse">
                <div>
                    Fecha de Impresión: @Model.FechaRegistro
                </div>
            </div>
        </div>

    </div>
</body>

</html>