@model MVSystemApi.Model.CotizacionModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/bootstrap.min.css" rel="stylesheet" />

    <title>Cotización</title>

    <style>
        .p0 p {
            padding: 0%;
            margin: 0%;
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <img src="/assets/logo.png" />
    </div>

    <div class="container text-center p0 mb-3">
        <p>Reparación, Desbloqueo, Accesorios, y Ventas de Celulares por mayor y al Detalle.</p>
        <p>
            Isabel Aguiar #402,frente a la estacion de combustible Texaco Santo Domingo, República Dominicana
            Tel.:809-908-6952 Cel.: 809-883-8858
        </p>
        <p> <b> RNC: 132307382 </b> </p>
    </div>

    <div class="container border border-dark">
        <div class="row">
            <div class="col-6 border border-dark">
                <b>Cliente</b><br>
                <b>Código: </b>@Model.IdCliente<br>
                <b>Nombre: </b>@Model.Nombre @Model.Apellido<br>
                <b>Teléfono: </b>@Model.Telefono<br>
                <b>Vendedor: </b>@Model.Vendedor<br>
            </div>

            <div class="col-6 border border-dark">
                <b>Fecha: </b> @Model.FechaFacturacion<br>
                <b>NCF: </b>@Model.Rnc
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row text-center mt-4 mb-3">
            <b>
               COTIZACIÓN
            </b>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">COD.</th>
                        <th scope="col">DESCRIPCIÓN</th>
                        <th scope="col">CANT.</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">SUBTOTAL</th>
                        <th scope="col">DESC</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        foreach (var item in Model.Articulos)
                        {
                            <tr>
                                <td>@item.IdEquipo</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Cantidad.ToString("N0")</td>
                                <td>@item.Precio.ToString("N2")</td>
                                <td>@item.SubTotal.ToString("N2")</td>
                                <td>@item.Descuento.ToString("N2")</td>
                                <td>@item.Total.ToString("N2")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="container text-right">
        <div><b>Subtotal: @Model.Articulos.Sum(x=>x.SubTotal).ToString("N2")</b></div>
        <div><b>Descuento: @Model.Articulos.Sum(x=>x.Descuento).ToString("N2")</b></div>
        <div><b>ITBIS: @Model.Articulos.Sum(x=>x.Itbis).ToString("N2")</b></div>
        <div><b>Total: @Model.Articulos.Sum(x=>x.Total).ToString("N2")</b></div>
    </div>

    <div class="container">
        <div class="row">
            <p>Nota: MVSYSTEM</p>
        </div>

        <div class="row">
            <p>
                <b>NOTA: </b>
                TODOS LOS EQUIPOS TIENEN 30 DIAS DE GARANTIA , NO TIENEN GARANTIA EN PANTALLA Y
                TOUCH NO SE REEMBOLSA DINERO, SE HACE CAMBIOS POR EL MISMO MODELO PAGADO SIEMPRE Y
                CUANDO EL EQUIPO SE ENCUENTRE EN EL TIEMPO DE LA GARANTIA Y CONDICIONES IGUAL AL
                MOMENTO DE LA COMPRA. LOS TELEFONOS TENDRAN SELLOS DE GARANTIAS, SI SON VIOLADOS LA
                GARANTIA TERMINARA.
            </p>
        </div>
    </div>

    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <hr>
                <b>Entregado por</b>
            </div>

            <div class="col-6 text-center">
                <hr>
                <b>Recibido por</b>
            </div>
        </div>
    </div>

    <div class="container">
        <div class=" text-right">
            Fecha de Impresión: @DateTime.Now
        </div>
    </div>
</body>

</html>