@model   MVSystemApi.Model.EquipoTranferenciaReporte

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/bootstrap.min.css" rel="stylesheet" />

    <title>TRANSFERENCIA DE QUIPOS</title>

    <style>
        .p0 p {
            padding: 0%;
            margin: 0%;
        }

        .notBorder td {border: 0; border-bottom:1px solid #000}
    </style>
</head>

<body>
    <div class="container text-center">
        <img src="/assets/logo.png" />
    </div>

    <div class="container text-center p0">
        <p>Reparación, Desbloqueo, Accesorios, y Ventas de Celulares por mayor y al Detalle.</p>
        <p>
            Isabel Aguiar #402,frente a la estacion de combustible Texaco Santo Domingo, República Dominicana
            Tel.:809-908-6952 Cel.: 809-883-8858
        </p>
        <p> <b> RNC: 132307382 </b> </p>
    </div>
      <div  class="container text-center">
        <h1><b> TRANSFERENCIA DE QUIPOS</b></h1>
    </div>
    <div class="box">
        <h2>Datos de transferencia</h2>

        <p>Numero transferencia: @Model.IdTransferencia</p>
        <p>Fecha transferencia: @Model.FechaTransferencia</p>
    </div>
    <div class="container mt-5">

        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>                       
                        <th scope="col">IMEI</th>
                        <th scope="col">MODELO</th>
                        <th scope="col">ALMACEN SALIDA</th>
                        <th scope="col">ALMACEN DESTINO</th>
           
                    </tr>
                </thead>

                <tbody>
                    @{
                        foreach (var item in Model.EquipoTransferencias)
                        {
                            <tr>
                                <td>@item.Imei</td>
                                <td>@item.Modelo</td>
                                <td>@item.AlmacenSalida</td>
                                <td>@item.AlmacenDestino</td>                  
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="container text-right mt-4">
 
        <div><b>TOTAL EQUIPOS: @Model.Total</b></div>
    </div>

    <div class="container">
        <div class="row">
            <p>Nota: XM</p>
        </div>
    </div>

    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <hr>
                <b>Entregado por</b>
            </div>

            <div class="col-6 text-center">
                <hr>
                <b>Recibido por</b>
            </div>
        </div>
    </div>

@*    <div class="container">
        <div class=" text-right">
            Fecha de Impresión:
            @Model.FechaTransferencia
        </div>
    </div>*@
</body>

</html>