@model   DTO.EquipoReporte

@{
    Layout = null;
   
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/bootstrap.min.css" rel="stylesheet" />

    <title>Detalle Equipos Disponibles</title>

    <style>
        .p0 p {
            padding: 0%;
            margin: 0%;
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <img src="/assets/logo.png" />
    </div>

    <div class="container text-center p0">
        <p>Reparación, Desbloqueo, Accesorios, y Ventas de Celulares por mayor y al Detalle.</p>
        <p>
            Isabel Aguiar #402,frente a la estacion de combustible Texaco Santo Domingo, República Dominicana
            Tel.:809-908-6952 Cel.: 809-883-8858
        </p>
        <p> <b> RNC: 132307382 </b> </p>
    </div>


    <div class="container mt-5">
        <div class="row text-center">
            <b>
              REPORTE DE EQUIPO
            </b>
        </div>
        <hr />
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th scope="col">IMEI</th>
                        <th scope="col">DESCRIPCIÓN</th>
                        <th scope="col">P POR MAYOR</th>
                        <th scope="col">P DETALLE</th>
                        <th scope="col">DESBLOQ</th>
                        <th scope="col">ALMACEN</th>
                        <th scope="col">SUPLIDOR</th>
                        <th scope="col">COMISION DETALLE</th>
                        <th scope="col">COMISION POR MAYOR</th>
                    </tr>
                </thead>

                <tbody>
                                   
                    @{
                        foreach (var item in Model.EquipoDisponibles)
                        {
         
                            <tr>
                                <td>@item.Imei</td>
                                <td>@item.Descripcion</td>
                                <td>@item.PrecioPorMayor.ToString("N2")</td>
                                <td>@item.PrecioDetalle.ToString("N2")</td>
                                <td>@item.IsDesbloqueado</td>
                                <td>@item.DescripcionAlmacen</td>
                                <td>@item.Suplidor</td>
                                <td>@item.ComisionDetalle</td>
                                <td>@item.ComisionPorMayor</td>
                            </tr>
                    
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="container text-right">
 
        <div><b>TOTAL EQUIPOS: @Model.EquipoDisponibles.Select(x=>x.TotalRecord).FirstOrDefault().ToString("D")</b></div>
    </div>

    <div class="container">
        <div class="row">
            <p>Nota: Jose Luis Jimenez</p>
        </div>

    </div>

    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <hr>
                <b>Entregado por</b>
            </div>

            <div class="col-6 text-center">
                <hr>
                <b>Recibido por</b>
            </div>
        </div>
    </div>

    <div class="container">
        <div class=" text-right">
            Fecha de Impresión:
            @Model.FechaImpresion
        </div>
    </div>
</body>

</html>